{% extends 'base_admin.html' %}

{% block nav %}
  <div class="ui secondary vertical menu">
    <a class="active item">Posts</a>
    <a class="item" href="{% url 'blogs:admin_user' %}">User</a>
  </div>
{% endblock %}

{% block button %}
  <button class="ui right floated primary button">Create</button>
{% endblock %}

{% block table %}
  <table class="ui unstackable celled table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Comment Count</th>
      <th>Created at</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <td data-label="Name">{{ post.post_title }}</td>
        <td data-label="Comment Count">{{ post.comment_set.count }}</td>
        <td data-label="Created at">{{ post.timestamp }}</td>
        <td data-label="Action">Edit Delete</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="ui divider"></div>
  <div class="ui centered grid">
    <div class="center aligned column">
      <div class="ui compact menu">
        {% if posts.has_previous %}
          <a class="item" href="?page=1">
            1
          </a>
          <div class="disabled item">
            ...
          </div>
          <a class="item" href="?page={{ posts.previous_page_number }}">
            {{ posts.previous_page_number }}
          </a>
        {% endif %}

        <a class="active item">{{ posts.number }}</a>

        {% if posts.has_next %}
          <a class="item" href="?page={{ posts.next_page_number }}">
            {{ posts.next_page_number }}
          </a>
          <div class="disabled item">
            ...
          </div>
          <a class="item" href="?page={{ posts.paginator.num_pages }}">
            {{ posts.paginator.num_pages }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}