{% extends 'base_admin_posts.html' %}

{% block content %}
  <div class="ui segment">
    <h2 class="ui center aligned header">New Post</h2>
    <form class="ui form" method="post" action="{% url 'blogs:create_post' %}">
      {% csrf_token %}
      <div class="field">
        <label>Post Title</label>
        {{ create_post_form.post_title }}
      </div>
      <div class="field">
        <label>Post Content</label>
        {{ create_post_form.post_content }}
      </div>
      <button class="ui right floated button" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}