{% extends 'base_admin_user.html' %}

{% block content %}
  <div class="row">
    <div class="ui segment">
      {% load static %}
      <h2 class="ui header">
        <img src="{% static "blogs/oreo.jpg" %}" alt="Avatar">
        <div class="content">
          {{ bu.user.first_name }} {{ bu.user.last_name }}
          <div class="sub header">{{ bu.matric_no }}</div>
        </div>
      </h2>
    </div>
  </div>

  <div class="ui basic segment">
    <div class="ui grid container">
      {% for comment in bu.comment_set.all %}
        <div class="fourteen wide column">
          <div class="ui feed">
            <div class="event">
              <div class="label">
                {% load static %}
                <img src="{% static 'blogs/oreo.jpg' %}" alt="Avatar">
              </div>
              <div class="content">
                <div class="summary">
                  {{ comment.user.user.first_name }} {{ comment.user.user.last_name }}
                  <div class="date">
                    {{ comment.timestamp }}
                  </div>
                  {% if comment.is_hidden %}
                    <div class="ui red horizontal label">Hidden</div>
                  {% endif %}
                </div>
                <div class="extra text">
                  {{ comment.comment_content }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="two wide column">
          {% if comment.is_hidden %}
            <a class="ui primary button" href="{% url 'blogs:show_comment' comment.comment_id %}">Show</a>
          {% else %}
            <a class="ui primary button" href="{% url 'blogs:hide_comment' comment.comment_id %}">Hide</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}