{% extends "base_user.html" %}

{% load static %}

{% block posts %}
  {% for post in posts %}
    <div class="ui clearing segment">
      <div class="ui header">{{ post.post_title }}</div>
      <p>{{ post.post_content }}</p>
      <div>
        {% include "post_buttons.html" with comment_count=post.comment_set.count %}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block message_user_login %}
  {% include 'message.html' %}
{% endblock %}

{% block user %}
  {% include "user.html" %}
{% endblock %}