<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {% block head %}
    <title>My Cool Blog</title>
  {% endblock %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static "blogs/user.css" %}">
  <script src="{% static "blogs/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "blogs/semantic.min.js" %}"></script>
</head>
<body>
<div class="ui grid container">
  <a class="ui huge header" href="{% url 'blogs:index' %}">My Cool Blog</a>
  <div class="row">
    <div class="right aligned column">
      <form class="ui search" method="get" action="{% url 'blogs:search' %}">
        <div class="ui icon input">
          <input class="prompt" name="q" type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      {% block posts %}
      {% endblock %}
      {% block comments %}
      {% endblock %}
    </div>
    <div class="six wide column">
      {% block message_user_login %}
      {% endblock %}
      <div class="ui segment">
        {% block user %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
</body>
</html>