{% if not request.user.is_authenticated %}
  <form class="ui form" action="{% url 'blogs:login' %}?next={{ request.path }}" method="post">
    {% csrf_token %}
    <div class="field">
      <label>Username</label>
      {{ user_form.username }}
    </div>
    <div class="field">
      <label>Password</label>
      {{ user_form.password }}
    </div>
    <button class="ui right floated button" type="submit">Login</button>
  </form>
{% else %}
  {% load static %}
  <h2 class="ui header">
    <img src="{% static "blogs/oreo.jpg" %}" alt="Avatar">
    <div class="content">
      {{ bu.user.first_name }} {{ bu.user.last_name }}
      <div class="sub header">{{ bu.matric_no }}</div>
    </div>
  </h2>
  <a class="ui right floated button" href="{% url 'blogs:logout' %}?next={{ request.path }}">Logout</a>
{% endif %}
